.card {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  }
  
  .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    filter: blur(2px);
  }
  
  .card__img {
    height: 235px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    overflow: hidden;
  }
  
  .card__date {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
  }
  
  .card__img:hover {
    filter: blur(2px);
  }
  
  .card__info {
    padding: 16px;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .card__category {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #868686;
    font-weight: 500;
  }
  
  .card__title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
  }
  
  .card__teaser {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
  }
  
  .card__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .card__icon {
    color: #555;
    font-size: 18px;
    margin: 0 5px; /* Adjust spacing between icons */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .card__icon:hover {
    color: #AD7D52;
  }
  
  .card__info-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card:hover .card__info-hover {
    opacity: 0;
  }
  
  .card__like,
  .card__clock {
    font-size: 18px;
    color: #AD7D52;
    margin-right: 5px;
  }
  
  .card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
  }
  